---
---

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
      {% include head.html %}
      {% include head/custom.html %}
  <meta charset="utf-8">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@natenka_says" />
  <meta name="twitter:creator" content="@natenka_says" />
  <meta name="twitter:url" content="https://pyneng.github.io/" />
  <meta name="twitter:title" content="{{page.title}}" />
  <meta name="twitter:description" content="This certificate acknowledges successful completion of the Python for network engineers online course." />
  <meta name="twitter:image"
  
        content="https://raw.githubusercontent.com/pyneng/pyneng.github.io/master{{page.url}}.png"
  
  />

  </head>

<div id="main" role="main">

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}


      <section class="page__content" itemprop="text">
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
      </section>

    </div>
  </article>
</div>
